.card {
  width: 70px;
  height: 70px;

  //background-color: var(--cells-bg);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 40px;
  font-weight: 500;
}

.red {
  color: #ff4d4d;
}

.blue {
  color: #4d79ff;
}

.green {
  color: #4dff4d;
}

.pink {
  color: #ff4dff;
}

.purple {
  color: #b84dff;
}

.cyan {
  color: #4dffff;
}

.orange {
  color: #ff944d;
}

.background-default {
  background-color: var(--cells-bg);
}

.background-red {
    background-color: rgba(255, 77, 77, 0.5);
}

.background-lightgray {
    background-color: rgba(77, 77, 87, 0.5);
}

.background-blue {
    background-color: rgba(77, 121, 255, 0.5);
}

.background-green {
    background-color: rgba(77, 255, 77, 0.5);
}

.background-pink {
    background-color: rgba(255, 77, 255, 0.5);
}

.background-purple {
    background-color: rgba(184, 77, 255, 0.5);
}

.background-cyan {
    background-color: rgba(77, 255, 255, 0.5);
}

.background-orange {
    background-color: rgba(255, 148, 77, 0.5);
}

//.background-white {
//    background-color: rgba(255, 255, 255, 0.5);
//}